<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sanitcode.footballclubapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/img_arsenal"
        android:label="@string/app_name"
        android:roundIcon="@drawable/img_arsenal"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.sanitcode.footballclubapp.ui.activity.league.LeagueActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.main.MainActivity"
            android:label="Football App" />
        <activity
            android:name="com.sanitcode.footballclubapp.ui.activity.detail.detailmatch.DetailMatchActivity"
            android:label="Detail Match" />

        <activity
            android:name="com.sanitcode.footballclubapp.ui.activity.detail.detailplayer.DetailPlayerActivity"
            android:label="Detail Player" />
        <activity
            android:name="com.sanitcode.footballclubapp.ui.activity.detail.detailteam.DetailTeamActivity"
            android:label="Detail Team" />

        <activity
            android:name="com.sanitcode.footballclubapp.ui.activity.search.searchmatch.SearchMatchActivity"
            android:label="@string/search"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.sanitcode.footballclubapp.ui.activity.search.searchteam.SearchTeamActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

        </activity>

    </application>

</manifest>